In [46]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.base import BaseEstimator, TransformerMixin
import pickle

### Load data

In [40]:
data_pro = pd.read_csv('Absenteeism_preprocessed.csv')
data_pro

,Reason 1,Reason 2,Reason 3,Reason 4,Month Values,Day of the week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,2,179,22,40,237.656,22,1,2,0,8
696,1,0,0,0,5,2,225,26,28,237.656,24,0,1,2,3
697,1,0,0,0,5,3,330,16,28,237.656,25,1,0,0,8
698,0,0,0,1,5,3,235,16,32,237.656,25,1,0,0,2
699,0,0,0,1,5,3,291,31,40,237.656,25,0,1,1,2

### Create targets

In [3]:
data_pro['Absenteeism Time in Hours'].median()

3.0

In [4]:
targets = np.where(data_pro['Absenteeism Time in Hours'] > 
                   data_pro['Absenteeism Time in Hours'].median(),1,0)

In [5]:
data_pro['Excessive Absenteeism'] = targets
data_pro

,Reason 1,Reason 2,Reason 3,Reason 4,Month Values,Day of the week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Excessive Absenteeism
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4,1
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,2,179,22,40,237.656,22,1,2,0,8,1
696,1,0,0,0,5,2,225,26,28,237.656,24,0,1,2,3,0
697,1,0,0,0,5,3,330,16,28,237.656,25,1,0,0,8,1
698,0,0,0,1,5,3,235,16,32,237.656,25,1,0,0,2,0
699,0,0,0,1,5,3,291,31,40,237.656,25,0,1,1,2,0

### Comment targets

In [6]:
targets.sum() / targets.shape[0]

0.45571428571428574

In [7]:
data_prepro = data_pro.drop(['Absenteeism Time in Hours','Day of the week',
                            'Daily Work Load Average','Distance to Work'],axis=1)
data_prepro

,Reason 1,Reason 2,Reason 3,Reason 4,Month Values,Transportation Expense,Age,Body Mass Index,Education,Children,Pets,Excessive Absenteeism
0,0,0,0,1,7,289,33,30,0,2,1,1
1,0,0,0,0,7,118,50,31,0,1,0,0
2,0,0,0,1,7,179,38,31,0,0,0,0
3,1,0,0,0,7,279,39,24,0,2,0,1
4,0,0,0,1,7,289,33,30,0,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,179,40,22,1,2,0,1
696,1,0,0,0,5,225,28,24,0,1,2,0
697,1,0,0,0,5,330,28,25,1,0,0,1
698,0,0,0,1,5,235,32,25,1,0,0,0
699,0,0,0,1,5,291,40,25,0,1,1,0

### Select inputs

In [8]:
data_prepro.shape

(700, 12)

In [9]:
unscaled_inputs = data_prepro.iloc[:,:-1]

In [41]:
unscaled_inputs

,Reason 1,Reason 2,Reason 3,Reason 4,Month Values,Transportation Expense,Age,Body Mass Index,Education,Children,Pets
0,0,0,0,1,7,289,33,30,0,2,1
1,0,0,0,0,7,118,50,31,0,1,0
2,0,0,0,1,7,179,38,31,0,0,0
3,1,0,0,0,7,279,39,24,0,2,0
4,0,0,0,1,7,289,33,30,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,5,179,40,22,1,2,0
696,1,0,0,0,5,225,28,24,0,1,2
697,1,0,0,0,5,330,28,25,1,0,0
698,0,0,0,1,5,235,32,25,1,0,0
699,0,0,0,1,5,291,40,25,0,1,1

### Standerdize data

In [10]:
class CustomScaler(BaseEstimator,TransformerMixin):
    
    def __init__(self,columns):
        self.scaler = StandardScaler()
        self.columns = columns
        self.mean_ = None
        self.var_ = None
        
    def fit(self,X,y=None):
        self.scaler.fit(X[self.columns],y)
        self.mean_ = np.mean(X[self.columns])
        self.var_ = np.var(X[self.columns])
        return self
    
    def transform(self,X,y=None):
        init_col_order = X.columns
        X_scaled = pd.DataFrame(self.scaler.transform(X[self.columns]),columns=self.columns)
        X_not_scaled = X.loc[:,~X.columns.isin(self.columns)]
        return pd.concat([X_not_scaled,X_scaled],axis=1)[init_col_order]

In [11]:
unscaled_inputs.columns.values

array(['Reason 1', 'Reason 2', 'Reason 3', 'Reason 4', 'Month Values',
       'Transportation Expense', 'Age', 'Body Mass Index', 'Education',
       'Children', 'Pets'], dtype=object)

In [12]:
columns_to_omit = ['Reason 1', 'Reason 2', 'Reason 3', 'Reason 4']

In [13]:
columns_to_scale = [x for x in unscaled_inputs.columns.values if x not in columns_to_omit]

In [14]:
abs_scaler = CustomScaler(columns_to_scale)

In [15]:
abs_scaler.fit(unscaled_inputs)

CustomScaler(columns=['Month Values', 'Transportation Expense', 'Age',
                      'Body Mass Index', 'Education', 'Children', 'Pets'])

In [16]:
scaled_inputs = abs_scaler.transform(unscaled_inputs)
scaled_inputs

,Reason 1,Reason 2,Reason 3,Reason 4,Month Values,Transportation Expense,Age,Body Mass Index,Education,Children,Pets
0,0,0,0,1,0.182726,1.005844,-0.536062,0.767431,-0.447980,0.880469,0.268487
1,0,0,0,0,0.182726,-1.574681,2.130803,1.002633,-0.447980,-0.019280,-0.589690
2,0,0,0,1,0.182726,-0.654143,0.248310,1.002633,-0.447980,-0.919030,-0.589690
3,1,0,0,0,0.182726,0.854936,0.405184,-0.643782,-0.447980,0.880469,-0.589690
4,0,0,0,1,0.182726,1.005844,-0.536062,0.767431,-0.447980,0.880469,0.268487
...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,-0.388293,-0.654143,0.562059,-1.114186,2.232242,0.880469,-0.589690
696,1,0,0,0,-0.388293,0.040034,-1.320435,-0.643782,-0.447980,-0.019280,1.126663
697,1,0,0,0,-0.388293,1.624567,-1.320435,-0.408580,2.232242,-0.919030,-0.589690
698,0,0,0,1,-0.388293,0.190942,-0.692937,-0.408580,2.232242,-0.919030,-0.589690
699,0,0,0,1,-0.388293,1.036026,0.562059,-0.408580,-0.447980,-0.019280,0.268487

### Split and shuffle

In [17]:
train_inputs,train_test,targets_inputs,targets_test = train_test_split(scaled_inputs,
                                                                       targets,
                                                                       train_size=0.8,
                                                                       shuffle=True,
                                                                       random_state=20)

In [18]:
print(train_inputs.shape,train_test.shape)

(560, 11) (140, 11)

In [19]:
print(targets_inputs.shape,targets_test.shape)

(560,) (140,)

### Training model

In [20]:
reg = LogisticRegression()
reg.fit(train_inputs,targets_inputs)

LogisticRegression()

In [21]:
reg.score(train_inputs,targets_inputs)

0.7732142857142857

### Manually check accuracy

In [22]:
model_outputs = reg.predict(train_inputs)

In [23]:
x = model_outputs == targets_inputs

In [24]:
z = x.shape[0] - x.sum()

In [25]:
z,x.shape[0],x.sum()

(127, 560, 433)

In [26]:
x.sum() / x.shape[0]

0.7732142857142857

### Find intercept and coefficients

In [27]:
reg.intercept_

array([-1.68218645])

In [28]:
reg.coef_

array([[ 2.80050879,  0.9550102 ,  3.11773817,  0.83794575,  0.15857206,
         0.60562747, -0.17008141,  0.27770724, -0.08455641,  0.34701569,
        -0.27797034]])

In [29]:
feature_name = unscaled_inputs.columns.values

In [30]:
summary_table = pd.DataFrame(columns=['Feature name'], data=feature_name)
summary_table['Coefficient'] = np.transpose(reg.coef_)

In [31]:
summary_table.index = summary_table.index + 1
summary_table.loc[0] = ['Intercept',reg.intercept_[0]]
summary_table = summary_table.sort_index()
summary_table

              Feature name  Coefficient
0                Intercept    -1.682186
1                 Reason 1     2.800509
2                 Reason 2     0.955010
3                 Reason 3     3.117738
4                 Reason 4     0.837946
5             Month Values     0.158572
6   Transportation Expense     0.605627
7                      Age    -0.170081
8          Body Mass Index     0.277707
9                Education    -0.084556
10                Children     0.347016
11                    Pets    -0.277970

### Interpreting coefficients

In [32]:
summary_table['Odds ratio'] = np.exp(summary_table.Coefficient)

In [33]:
summary_table.sort_values('Odds ratio',ascending=False)

              Feature name  Coefficient  Odds ratio
3                 Reason 3     3.117738   22.595215
1                 Reason 1     2.800509   16.453016
2                 Reason 2     0.955010    2.598697
4                 Reason 4     0.837946    2.311613
6   Transportation Expense     0.605627    1.832402
10                Children     0.347016    1.414839
8          Body Mass Index     0.277707    1.320100
5             Month Values     0.158572    1.171836
9                Education    -0.084556    0.918920
7                      Age    -0.170081    0.843596
11                    Pets    -0.277970    0.757319
0                Intercept    -1.682186    0.185967

### Test model

In [35]:
reg.score(train_test,targets_test)

0.75

In [37]:
pred_proba = reg.predict_proba(train_test)
pred_proba

array([[0.71325648, 0.28674352],
       [0.58656313, 0.41343687],
       [0.44112564, 0.55887436],
       [0.78133175, 0.21866825],
       [0.08392008, 0.91607992],
       [0.3342291 , 0.6657709 ],
       [0.2993341 , 0.7006659 ],
       [0.13086501, 0.86913499],
       [0.78564217, 0.21435783],
       [0.7488237 , 0.2511763 ],
       [0.49371246, 0.50628754],
       [0.22445984, 0.77554016],
       [0.07098565, 0.92901435],
       [0.73468839, 0.26531161],
       [0.30807191, 0.69192809],
       [0.54979463, 0.45020537],
       [0.55013546, 0.44986454],
       [0.53890721, 0.46109279],
       [0.40098283, 0.59901717],
       [0.05349724, 0.94650276],
       [0.6997517 , 0.3002483 ],
       [0.78133175, 0.21866825],
       [0.41957064, 0.58042936],
       [0.41957064, 0.58042936],
       [0.24661288, 0.75338712],
       [0.74506925, 0.25493075],
       [0.50946316, 0.49053684],
       [0.85800128, 0.14199872],
       [0.20285591, 0.79714409],
       [0.78133175, 0.21866825],
       [0.62968625, 0.37031375],
       [0.31989462, 0.68010538],
       [0.31439172, 0.68560828],
       [0.47110741, 0.52889259],
       [0.78133175, 0.21866825],
       [0.46490469, 0.53509531],
       [0.7779191 , 0.2220809 ],
       [0.26197453, 0.73802547],
       [0.5954303 , 0.4045697 ],
       [0.39468149, 0.60531851],
       [0.78896833, 0.21103167],
       [0.54944182, 0.45055818],
       [0.7618834 , 0.2381166 ],
       [0.60115263, 0.39884737],
       [0.17259223, 0.82740777],
       [0.43055812, 0.56944188],
       [0.30809309, 0.69190691],
       [0.71325648, 0.28674352],
       [0.77966025, 0.22033975],
       [0.79640772, 0.20359228],
       [0.42565596, 0.57434404],
       [0.67279844, 0.32720156],
       [0.3342291 , 0.6657709 ],
       [0.72949149, 0.27050851],
       [0.16620196, 0.83379804],
       [0.56444643, 0.43555357],
       [0.11575068, 0.88424932],
       [0.76830901, 0.23169099],
       [0.66638915, 0.33361085],
       [0.65624944, 0.34375056],
       [0.30300531, 0.69699469],
       [0.34437788, 0.65562212],
       [0.70720962, 0.29279038],
       [0.20699599, 0.79300401],
       [0.79223685, 0.20776315],
       [0.73141247, 0.26858753],
       [0.91239722, 0.08760278],
       [0.7779191 , 0.2220809 ],
       [0.26578682, 0.73421318],
       [0.697927  , 0.302073  ],
       [0.7779191 , 0.2220809 ],
       [0.70849926, 0.29150074],
       [0.09583084, 0.90416916],
       [0.53993745, 0.46006255],
       [0.39837134, 0.60162866],
       [0.78133175, 0.21866825],
       [0.2257061 , 0.7742939 ],
       [0.27105125, 0.72894875],
       [0.25710567, 0.74289433],
       [0.32776989, 0.67223011],
       [0.75357282, 0.24642718],
       [0.92384316, 0.07615684],
       [0.76830901, 0.23169099],
       [0.24667087, 0.75332913],
       [0.56505596, 0.43494404],
       [0.8786687 , 0.1213313 ],
       [0.29520967, 0.70479033],
       [0.41957064, 0.58042936],
       [0.75812869, 0.24187131],
       [0.31989462, 0.68010538],
       [0.82665628, 0.17334372],
       [0.84923001, 0.15076999],
       [0.77349816, 0.22650184],
       [0.73141247, 0.26858753],
       [0.7488237 , 0.2511763 ],
       [0.14885494, 0.85114506],
       [0.70390833, 0.29609167],
       [0.23663081, 0.76336919],
       [0.75544484, 0.24455516],
       [0.78422659, 0.21577341],
       [0.37688203, 0.62311797],
       [0.31989462, 0.68010538],
       [0.30265279, 0.69734721],
       [0.25742471, 0.74257529],
       [0.5511615 , 0.4488385 ],
       [0.51737876, 0.48262124],
       [0.72242588, 0.27757412],
       [0.14885494, 0.85114506],
       [0.22378081, 0.77621919],
       [0.85493562, 0.14506438],
       [0.92997434, 0.07002566],
       [0.09630278, 0.90369722],
       [0.33538524, 0.66461476],
       [0.66076221, 0.33923779],
       [0.4761834 , 0.5238166 ],
       [0.43866543, 0.56133457],
       [0.21292653, 0.78707347],
       [0.17787245, 0.82212755],
       [0.45786524, 0.54213476],
       [0.69015453, 0.30984547],
       [0.74021275, 0.25978725],
       [0.84063573, 0.15936427],
       [0.18751594, 0.81248406],
       [0.54944182, 0.45055818],
       [0.78133175, 0.21866825],
       [0.64818629, 0.35181371],
       [0.78896833, 0.21103167],
       [0.89000242, 0.10999758],
       [0.2589736 , 0.7410264 ],
       [0.6997517 , 0.3002483 ],
       [0.38391835, 0.61608165],
       [0.78896833, 0.21103167],
       [0.70390833, 0.29609167],
       [0.64818629, 0.35181371],
       [0.73452277, 0.26547723],
       [0.4761834 , 0.5238166 ],
       [0.53890721, 0.46109279],
       [0.68829749, 0.31170251],
       [0.75544484, 0.24455516],
       [0.53993745, 0.46006255]])

In [45]:
pred_proba[:,1]

array([0.28674352, 0.41343687, 0.55887436, 0.21866825, 0.91607992,
       0.6657709 , 0.7006659 , 0.86913499, 0.21435783, 0.2511763 ,
       0.50628754, 0.77554016, 0.92901435, 0.26531161, 0.69192809,
       0.45020537, 0.44986454, 0.46109279, 0.59901717, 0.94650276,
       0.3002483 , 0.21866825, 0.58042936, 0.58042936, 0.75338712,
       0.25493075, 0.49053684, 0.14199872, 0.79714409, 0.21866825,
       0.37031375, 0.68010538, 0.68560828, 0.52889259, 0.21866825,
       0.53509531, 0.2220809 , 0.73802547, 0.4045697 , 0.60531851,
       0.21103167, 0.45055818, 0.2381166 , 0.39884737, 0.82740777,
       0.56944188, 0.69190691, 0.28674352, 0.22033975, 0.20359228,
       0.57434404, 0.32720156, 0.6657709 , 0.27050851, 0.83379804,
       0.43555357, 0.88424932, 0.23169099, 0.33361085, 0.34375056,
       0.69699469, 0.65562212, 0.29279038, 0.79300401, 0.20776315,
       0.26858753, 0.08760278, 0.2220809 , 0.73421318, 0.302073  ,
       0.2220809 , 0.29150074, 0.90416916, 0.46006255, 0.60162866,
       0.21866825, 0.7742939 , 0.72894875, 0.74289433, 0.67223011,
       0.24642718, 0.07615684, 0.23169099, 0.75332913, 0.43494404,
       0.1213313 , 0.70479033, 0.58042936, 0.24187131, 0.68010538,
       0.17334372, 0.15076999, 0.22650184, 0.26858753, 0.2511763 ,
       0.85114506, 0.29609167, 0.76336919, 0.24455516, 0.21577341,
       0.62311797, 0.68010538, 0.69734721, 0.74257529, 0.4488385 ,
       0.48262124, 0.27757412, 0.85114506, 0.77621919, 0.14506438,
       0.07002566, 0.90369722, 0.66461476, 0.33923779, 0.5238166 ,
       0.56133457, 0.78707347, 0.82212755, 0.54213476, 0.30984547,
       0.25978725, 0.15936427, 0.81248406, 0.45055818, 0.21866825,
       0.35181371, 0.21103167, 0.10999758, 0.7410264 , 0.3002483 ,
       0.61608165, 0.21103167, 0.29609167, 0.35181371, 0.26547723,
       0.5238166 , 0.46109279, 0.31170251, 0.24455516, 0.46006255])

### Save model

In [47]:
with open('model','wb') as file:
    pickle.dump(reg,file)

In [48]:
with open('scaler','wb') as file:
    pickle.dump(abs_scaler,file)